/*--body--*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
   /* overflow: hidden;*/
}

h1, h2, h3, h4, h5, h6, p, ul{
    padding: 0;
    margin: 0;
}

/*home page css start*/
/*--header css start--*/
header{
    padding: 5px;
    background-color: #f0f2f4;
    border: 1px solid #e2e2e2;
}

.tokyo_info{
    justify-content: end; 
}

.main_box{
    display: flex;
}

.main_box{
    align-items: center;
    padding-left: 40px;
}

.icon{
    height: 20px;
}

.fa-solid{
    font-size: 20px;
    color: #424242;
    padding-right: 10px;
    line-height: 20px;
}

.information{
    align-items: center;
}

.fb_image{
    margin-left: -20px;
}

.information h4{
    font-size: 16px;
    margin-top: 10px;
    color: #424242;
}
/*--header css end --*/
/*--nav_menu css start --*/
.menu_bar{
    padding: 30px 0px;
}

.main_menu_bar{
    padding-left: 150px !important;
    padding-top: 17px;
}

.main_menu_bar_bt{
    padding-top: 15px;
}

.new_china_div_con{
    padding-top: 10px;
}

.china_logo{
    width: 80px;
    height: 55px;
    padding-right: 5px;
}

.menu_bar .china h2{
    font-size: 40px;
    font-weight: 700;
}

.menu_bar .china h3{
    font-size: 18px;
    margin-top: -12px;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.nav-link{
    color: #424242 !important;
    font-weight: 700;
}

.menu_bar .fa-solid{
    font-size: 20px;
    color: #424242;
    padding-right: 5px;
}

.menu_bar a{
    color: #ffffff;
    font-weight: 700;

}

.btn-appoint{
    margin-left: 15px;
    background: #de2b24 !important;
    border-radius: 1px !important;
    padding: 10px 20px !important;
    border-radius: 3px !important;
    color: white;
}

.menu_bar .container{
    margin: 0 auto;
    padding: 0;
}
/*--nav_menu css end --*/
/*--banner section-1 css end --*/
.banner_top{
    text-align: center;
    padding: 180px 0;
    background-image: url(../images/banner1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_top h2{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: white;
}

.banner_top h3{
    padding-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: white;
}

.btn-appointment{
    background: #f8cd53 !important;
    display: inline;
    border-radius: 1px !important;
    padding: 15px 30px !important;
    border-radius: 3px !important;
    color: white !important;
    font-size: 20px !important;
    font-weight: 700 !important;
}
/*--banner section-1 css end --*/
/*--section-2 css end --*/
.banner_about{
    text-align: center;
    padding: 100px 0;
}

.banner_about h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #424242;
}

.banner_about h3{
    font-size: 20px;
    text-align: center;
    color: #424242;
}

.new_about{
    padding-top: 50px;
}

.new_about .about_box{
    padding: 20px 30px;
}

.about_box h3{
    padding-top: 20px;
    font-size: 28px;
    font-weight: 600;
    color: #424242;
}

.about_box h5{
    font-size: 15px;
    color: #424242;
}
/*--section-2 css end --*/
/*--section-3 css end --*/
.banner_service{
    text-align: center;
    padding: 100px 0;
    background-color: #f3f3f3;
}

.banner_service h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #424242;
}

.banner_service h3{
    font-size: 20px;
    text-align: center;
    color: #424242;
}

.new_service{
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 3px;
}

.new_service .bg_image1{
    position: relative;
}

.new_service .bg_image2{
    position: relative;
}

.new_service .bg_image3{
    position: relative;
}

.new_service .bg_image4{
    position: relative;
}

.small_right{
    background-color: #de2b24;
    width: 100px;
    padding: 10px 0;
    border-radius: 3px;
    border: 2px solid white;
    position: absolute;
    top: 35%;
    left: -5px;
    transform: translate(-50%,0);
}

.small_right h2{
    font-size: 40px;
    color: white;
}
.small_right h5{
    margin-top: -15px;
    color: white;
}


.small{
    background-color: #de2b24;
    width: 100px;
    padding: 10px 0;
    border-radius: 3px;
    border: 2px solid white;
    position: absolute;
    top: 35%;
    right: -100px;
    transform: translate(-50%,0);
}

.small h2{
    font-size: 40px;
    color: white;
}
.small h5{
    margin-top: -15px;
    color: white;
}

.new_service .bg_image1{
    background-image: url(../images/servcie1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -3px;
    margin-bottom: -5px;
}

.new_service .bg_image2{
    background-image: url(../images/servcie2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -5px;
    margin-bottom: -5px;
}

.new_service .bg_image3{
    background-image: url(../images/servcie3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -5px;
    margin-bottom: -3px;
}

.new_service .bg_image4{
    background-image: url(../images/servcie4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -5px;
    margin-bottom: -5px;
}

.new_service .bg_service_text{
    padding: 80px 90px;
    background-color: white;
    box-shadow: black;
    box-shadow: 1px 1px 30px  rgba(0, 0, 0, 0.085);
}

.bg_service_text h2{
    padding-top: 5px;
    text-align: start;
    font-size: 28px;
}

.bg_service_text h5{
    text-align: start;
    font-size: 18px;
}

.pg_img{
    margin-bottom: 50px;
}
/*--section-3 css end --*/
/*--section-4 css start --*/
.drop_box{
    text-align: center;
    padding: 100px 0;
    background-color: #de2b24;
}

.drop_box h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.drop_box h3{
    font-size: 20px;
    text-align: center;
    color: #f5f5f5;
}

.project{
    background-color: #f35e59;
    padding: 80px 0px;
}

.project .fa-regular{
    color: #f9afac;
    font-size: 35px;
    padding-bottom: 20px;
}

.drop_box h2{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

.drop_box h5{
    font-size: 20px;
    text-align: center;
    color: #f5f5f5;
    margin-top: -5px;
}

.project_image1{
    background-image: url(../images/servcie11.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project_image2{
    background-image: url(../images/drop-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project_image3{
    background-image: url(../images/drop-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project_image4{
    background-image: url(../images/drop-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*--section-4 css end --*/
/*--section-5 css start --*/
.fb_form{
    text-align: center;
    padding: 100px 0;
    background-color: #1287bf;
    justify-content: center;
}

.fb_form h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.fb_form h3{
    font-size: 20px;
    text-align: center;
    color: #f5f5f5;
}

.icon_new_circle .fa-solid{
    font-size: 45px;
    line-height: 28px;
    padding: 40px 0px;
    color: white;
}

.white_form_div{
    justify-content: center;
}

.white_form{
    margin-left: 10px;
    padding: 50px 50px !important;
    background-color: #ffffff;
    border-radius: 3px;
}

.white_form h5{
    font-size: 15px;
    padding-bottom: 20px;
}

.button, input, optgroup, select, textarea{
    margin: 5px 0px !important;
    width: 80%;
    text-align: left;
    padding: 7px 20px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid #d8d8d8 !important;
    border-radius: 3px !important;
}

.SUBMIT_NOW{
    cursor: pointer;
    margin-top: 20px !important;
    width: 30%;
    text-align: center;
    background: #de2b24;
    color: white;
}

/*--section-5 css end --*/
/*--section-6 css start --*/
.footer1{
    text-align: center;
    padding: 100px 0;
    background-color: #2a2a2a;
}

.footer1 h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.footer1 h6{
    color: #cecece;
    padding-bottom: 30px;
}

.footer_icon_div{
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.icon_new{
    width: 50px;
    border: 2px solid #515151;
    align-items: center;
    padding: 10px 15px;
    border-radius: 3px;
    margin: 0px 5px;
    transition: 0.4s all ease-in-out;
}

.icon_new:hover{
    border: 2px solid #de2b24;
}

.icon_new .fa-brands{
    display: inline;
    color: white;
}

.input_submit{
    width: 50%;
    background-color: #515151;
    border: none !important;
    color: white !important;
    border-radius: 0px !important;
    padding: 10px 20px;
}

.SUBMIT{
    margin-top: 10px !important;
    width: 15% !important;
    background-color: #2a2a2a !important;
    text-align: center;
    color: white;
    border: 1px solid #515151 !important;
}

/*--section-6 css end --*/
/*--section-7 css start --*/
.footer2{
    text-align: center;
    padding: 10px 0;
    background-color: #515151;
}

.footer2 h2{
    padding-top: 5px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}
/*--section-7 css end --*/
/*--home page css end --*/